#footer{
    background-color: #43345d;
    border: 1px solid #43345d;
}

#footer .col-6 h3,#footer .col-6 p {
    color:white; 
}

#footer .row .col-6 .row .col-4 a{
    text-decoration:none;
    text-align: left;
}

.f-social{
    display:flex;
    flex-flow: row;
    justify-content: space-between;
    width : 100%;
    flex-wrap: wrap;
    margin-top: 5px;
}

.f-socials a h4{
    text-align: center;
    margin-left: 4.5vw;
}
.nav-link-social{
    display:flex;
    flex-flow:row;
    width:70%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    margin: auto;
}

.nav-link-social a,.nav-link-social a h3, .f-socials a, .f-socials a:hover{
    text-decoration:none;
    color:white;
}

.nav-link-social .f-item {
    width:50%;
}

.made-by-text{
    color:white;
}

.l-footer{
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;    
}

.l-footer p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bi-suit-heart-fill:hover{
    width: 2rem;
}

.f-social a svg:hover{
    fill:white;
}

@media (max-width: 500px){
    .nav-link-social{
        flex-flow: column;
    }
    .nav-link-social a h3{
        text-align: center;
    }
    .l-footer{
        flex-flow: column;
    }
    .f-socials a h4{
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .l-footer a{
        align-self: center;
    }
}