@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin:0;
    padding:0;
}

.hero-card {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    /* background-image: url(back.png); */
    background-position: center center;
    background-size: max(100vw,1440px);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-align: center;
    font-family: "Kanit";
}

.hero-one{
    background-image: url(../images/back.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-two{
    background-image: url(https://vitbhopal.ac.in/file/2020/01/3-1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-three{
    background-image: url(https://images.unsplash.com/photo-1648034143924-e761771fe442?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-four{
    background-image: url(https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-card .main-heading {

    width: clamp(15rem,40%,30rem);
    background: linear-gradient(-90deg,#4115f231,rgba(23, 58, 236, 0) 100%),
    linear-gradient(90deg, #0cffff41, rgba(7, 238, 211, 0) 100%);
    border-radius: 20px;
    
}

.main-heading h2 {
    font-size: clamp(1.8rem,4vw,4rem);
    padding: 1rem;
    color: white;
}

.hero-card .quote-container {
    width: clamp(5rem,40vw,20rem);
    font-family: 'Inter';
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
    line-height: 44px;
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}

.hero-card .quote-container::after {
    position: absolute;
    content: '';
    height: 2px;
    top: -10px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    background: transparent;
}

.hero-card .quote-container::before {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -10px; 
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 80%;
    background: transparent;
}

.hero-card .VITB-container {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.18em;
    color: #FFFFFF;
}

@media only screen and (min-width: 991px) {
    .main-heading {
        position: absolute;
        top: 6rem;
    }

    .quote-container {
        position: absolute;
        left: 10rem;
    }

    .VITB-container {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
    
    .hero-card .quote-container::before,.hero-card .quote-container::after {
        background-color: white;
    }
}