*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Alegreya SC', serif;
    font-family: 'Exo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar{
    display: none;
}

/* AI Division */

.panel{
  width:100vw;
  height:100vh;
}
.red{
  background-color: red;
}
.orange{
  background-color: orange;
}